DATABASE_URL=postgresql://sanad:devpass@localhost/sanaddb
MQTT_BROKER_HOST=192.168.137.1
MQTT_BROKER_PORT=1883
MQTT_TOPIC=sensors/#
MQTT_COMMIT_BATCH_SIZE=1
MQTT_USERNAME=sanad_iot
MQTT_PASSWORD=change_me
